h2 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.about-image {
  width: 200px;
}

#cash-img {
  width: 180px;
  /* padding-top: 20px; */
}

#simpsons-img {
  width: 200px;
  height: auto;
}

.border-line {
  border: 1px solid black;
  margin: 30px 0px;
}

.place-structure {
  width: 100px;
  height: 100px;
  border: 3px solid black;
}

.flex-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.place-first-row {
  margin-top: 50px;
  padding: 0px 150px;
}

.place-second-row {
  padding: 30px 400px;
}

#magnifying-glass-img {
  width: 350px;
}

.rules-content {
  position: relative;
  background: #f8f9fa;
  z-index: 2;
}

.btn.btn-success {
  position: sticky;
  margin-top: 20px;
  bottom: 10px;
  z-index: 1;
}

.pool-steps {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
