/* Container tags */
.flex-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* How to Play Section */
.play-steps {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#rank-img {
  width: 110px;
  margin-left: 40px;
}

.triangle_right {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-left: 25px solid #ffc107;
  border-bottom: 13px solid transparent;
}

.rectangle {
  background: #ffc107;
}

.arrow-1 .rectangle {
  width: 70px;
  height: 10px;
}

.arrow-2 .rectangle {
  width: 70px;
  height: 10px;
}

.arrow-3 .rectangle {
  width: 50px;
  height: 10px;
}

.arrow-container {
  display: flex;
  flex-direction: column;
}

.arrow-container > div {
  margin-bottom: 10px;
}

.arrow-1 {
  position: relative;
  left: -25px;
  transform: rotate(45deg);
}

.arrow-2 {
  position: relative;
  left: -25px;
  bottom: 30px;
  transform: rotate(-40deg);
}

.arrow-3 {
  position: relative;
  bottom: -30px;
  left: -25px;
}

.rank-numbers {
  position: relative;
  right: 35px;
}

#standings-img {
  width: 200px;
}

#cash-img {
  width: 180px;
}

.border-line {
  border: 1px solid black;
  margin: 30px 0px;
}

/* Prize Section */
#simpsons-img {
  width: 200px;
  height: auto;
}

.place-structure {
  width: 100px;
  height: 100px;
  border: 3px solid black;
}

.place-first-row {
  margin-top: 50px;
  padding: 0px 150px;
}

.place-second-row {
  padding: 30px 400px;
}

/* Rules section */
#magnifying-glass-img {
  width: 350px;
}

.rules-content {
  position: relative;
  background: url(https://i.imgur.com/MJAkxbh.png);
  z-index: 2;
}

.btn.btn-success {
  position: sticky;
  margin-top: 20px;
  bottom: 10px;
  z-index: 1;
}

/* Header tags */
h2 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
