* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

main {
  height: 100%;
  margin-top: 50px;
  text-align: center;
  padding: 100px;
}

.charity-container {
  display: flex;
  justify-content: center;
}

section {
  width: 600px;
}

.card-img {
  width: 8rem;
  height: 8rem;
  border: 1px solid lightgray;
}

.current-charity-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.current-charity-container div {
  margin: 20px 40px;
  text-align: center;
}

.past-charity-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
}

.past-charity-container div {
  margin: 10px 0px;
}

.charity-card-2 img {
  margin: 0px 40px;
}
